body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.increment, .decrement {
    background-color: black;
    color: white;
    width: 200px;
    cursor: pointer;
}